#intro {
    height: calc(100vh -4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    /*margin-bottom: 4rem;*/
}

.bg {
    position: absolute;
    top: 8rem; /*a bit behind navbar*/
    right: 0; 
    z-index: -1; /*behind text*/
    object-fit: cover; 
    height: 60vh; /*height is fixed, witdth is not*/
}

.introContent {
    height: 100vh;
    width: 50vw; 
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex; /*align content in horizontal way*/
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: rgb(91, 163, 171); 
}

.introPara {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem; 
    border-radius: 2rem;
    border: none;
    height: 3rem;
    cursor: pointer; 
}

.btn:hover {
    background-color: rgb(200, 200, 200);
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

/*extra stuff */
@media screen and (max-width:840px) {
    .bg { /* shift image right if thin screen*/
        right: -10vm 
    }
    .introContent {
        font-size: 10vw; 
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:480px) {
    .bg { /* shift image right if thin screen*/
        right: -20vm 
    }
}