#works {
    margin: 0 auto;  /* margin to center */
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;   /* center column wise*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 8rem;
}

.worksTitle {
    margin: 1rem 0; 
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 2rem;
    max-width: 50rem;
}

.worksImgs {
    display:flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  /* wrap below if width exceeded*/
    width: 100vw;
    max-width: 65rem;
}

.worksImg {
    background-color: rgb(60, 60, 60);
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
    border-radius: 2rem;
    width: 20rem;
}

.workBtn {
    margin: 2rem 0;
    padding: 0.8rem 2.2rem;
    border: none;
    background: white;
    border-radius: 2rem;
    font-size: 1rem;
}

.workBtn:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

/* stuff for mobile */
@media screen and (max-width: 585px) {
    .worksImg {
        height: 48vw;
    }
}